{% extends "base.html.jinja" %}

{% block title %}web-based learning tools, freely accessibly{% endblock %}

{% block content %}
<header>
  <h1>web-based learning tools, freely accessibly</h1>
</header>
<div class="card-grid">
  {% for item in items %}
  <article class="card">
    {% if item.img %}
    <img src="{{ item.img }}" alt="{{ item.name }} screenshot">
    {% endif %}
    <div class="card-body">
      <header>
        <h3>{{ item.name }}</h3>
        {% if item.topics %}
        <div class="hstack">
          {% for topic in item.topics %}
          <span class="badge outline">{{ topic }}</span>
          {% endfor %}
        </div>
        {% endif %}
      </header>

      {% if item.declarativeKnowledge %}
      Get to know...
      <ul>
        {% for k in item.declarativeKnowledge %}<li>{{ k }}</li>{% endfor %}
      </ul>
      {% endif %}



      {% if item.proceduralSkills %}
      Learn how to...
      <ul>
        {% for s in item.proceduralSkills %}<li>{{ s }}</li>{% endfor %}
      </ul>
      {% endif %}

      {% if item.coreActivities %}
      You will...
      <ul>
        {% for a in item.coreActivities %}<li>{{ a }}</li>{% endfor %}
      </ul>
      {% endif %}

      <footer class="hstack">
        <a href="{{ item.url }}" target="_blank" rel="noopener">visit &rarr;</a>
        {% if item.links %}
        {% for label, href in item.links.items() %}
        <a href="{{ href }}" target="_blank" rel="noopener">{{ label }}</a>
        {% endfor %}
        {% endif %}
      </footer>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}
